In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('hall.csv')

In [4]:
df.head()

    Ano   Campeão        Vice      Semifinalistas
0  1989    Grêmio       Sport    Flamengo e Goiás
1  1990  Flamengo       Goiás  Náutico e Criciúma
2  1991  Criciúma      Grêmio     Remo e Coritiba
3  1992     Inter  Fluminense   Palmeiras e Sport
4  1993  Cruzeiro      Grêmio    Vasco e Flamengo

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Ano             35 non-null     int64
 1   Campeão         35 non-null     object
 2   Vice            35 non-null     object
 3   Semifinalistas  35 non-null     object
dtypes: int64(1), object(3)
memory usage: 1.2+ KB

In [6]:
df.describe()

               Ano
count    35.000000
mean   2006.000000
std      10.246951
min    1989.000000
25%    1997.500000
50%    2006.000000
75%    2014.500000
max    2023.000000

In [7]:
df['Campeão'].unique() #RETORNA O CADA VALOR DIFERENTE DE UMA COLUNA ESPECIFICA

array(['Grêmio', 'Flamengo', 'Criciúma', 'Inter', 'Cruzeiro',
       'Corinthians', 'Palmeiras', 'Juventude', 'Santo André', 'Paulista',
       'Fluminense', 'Sport', 'Santos', 'Vasco', 'Atlético-MG',
       'Athletico-PR', 'São Paulo'], dtype=object)

In [32]:
flamengo = df[df['Campeão'] == "Grêmio"] #FILTRANDO POR CAMPEAO IGUAL AO TIME

In [33]:
flamengo['Ano'].count()

5

In [14]:
df['Vice']

0             Sport
1             Goiás
2            Grêmio
3        Fluminense
4            Grêmio
5             Ceará
6            Grêmio
7         Palmeiras
8          Flamengo
9          Cruzeiro
10         Botafogo
11        São Paulo
12      Corinthians
13      Brasiliense
14         Flamengo
15         Flamengo
16       Fluminense
17            Vasco
18      Figueirense
19      Corinthians
20            Inter
21          Vitória
22         Coritiba
23         Coritiba
24      Atlético-PR
25         Cruzeiro
26           Santos
27      Atlético-MG
28         Flamengo
29      Corinthians
30    Internacional
31           Grêmio
32     Athletico-PR
33      Corinthians
34         Flamengo
Name: Vice, dtype: object

In [ ]:
df['Vice']